.round-centre{
    border-radius: 50%;
   
    
}

.imgDisp{
  
}

.center {
    
}

#start:hover{
    background-color: lightblue;
    color: white;
}

#start{
    width:100px;
    padding:40px;
}

#countdown{
    font-size: 5em;
    text-align:center;
    width: 200px;
}