/*Group Members:
    Elijah Renaud #991364626
    Danella Olsen #991369845
*/

.sTitle{
    /*Content*/
    content: url("../_images/Scores.png");
}
#sTitleBlock{
    background-color: #ffffff;
    border-style: none;
}

.sPlayers{
    /*Content*/
    content: url("../_images/Players.png");
}

.pList{
    overflow: scroll;
}
